<h1 class="display-5">Shipping Information</h1>

<p class="lead">Descripción de los datos que hay que meter aquí dentro</p>

<div [formGroup]="shippingForm">
  <div class="form-group"
       [class.has-danger]="isValid(shippingForm.controls.name)">
    <label class="form-control-label" for="name">Name</label>
    <input type="text"
           class="form-control col-4" id="name" placeholder="Your Name"
           [class.form-control-danger]="isValid(shippingForm.controls.name)"
           formControlName="name">
  </div>

  <div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" id="surname" class="form-control col-4" formControlName="surname">
  </div>

  <div class="form-group" [class.has-danger]="!shippingForm.controls.mail.valid">
    <label class="form-control-label" for="name">Email</label>
    <input type="email"
           class="form-control" id="mail" placeholder="Your email"
           [class.form-control-danger]="!shippingForm.controls.mail.valid"
           formControlName="mail">

    <div class="form-control-feedback" *ngIf="!shippingForm.controls.mail.valid">Sorry, this field is mandatory</div>
  </div>

  <div class="form-group" [class.has-danger]="!shippingForm.controls.mailConfirmation.valid">
    <label class="form-control-label" for="name">Email Confirmation</label>
    <input type="email"
           class="form-control" id="mailConfirmation" placeholder="Your email"
           [class.form-control-danger]="!shippingForm.controls.mailConfirmation.valid"
           formControlName="mailConfirmation">

    <div class="form-control-feedback" *ngIf="!shippingForm.controls.mailConfirmation.valid">Sorry, this field is
      mandatory
    </div>
    <!--<div class="form-control-feedback" *ngIf="myForm.controls['mailConfirmation'].hasError('emailMatch')">Sorry, both emails have to match!</div>-->
  </div>

  <div class="form-group" [class.has-danger]="!shippingForm.controls.phone.valid">
    <label class="form-control-label" for="name">Phone</label>
    <input type="text"
           class="form-control" id="phone" placeholder="Your phone"
           [class.form-control-danger]="!shippingForm.controls.phone.valid"
           formControlName="phone">

    <div class="form-control-feedback" *ngIf="!shippingForm.controls.phone.valid">Sorry, this field is mandatory</div>
    <!--<div class="form-control-feedback" *ngIf="myForm.controls['phone'].hasError('invalidPhone')">Please, phone with 9
      digits ;D
    </div>-->
  </div>

  <div class="form-group" [class.has-danger]="!shippingForm.controls.address.valid">
    <label class="form-control-label" for="name">Address</label>
    <input type="text"
           class="form-control" id="address" placeholder="Your address"
           [class.form-control-danger]="!shippingForm.controls.address.valid"
           formControlName="address">

    <div class="form-control-feedback" *ngIf="!shippingForm.controls.address.valid">Sorry, this field is mandatory</div>
  </div>

  <div class="form-group" [class.has-danger]="!shippingForm.controls.postalCode.valid">
    <label class="form-control-label" for="name">Postal Code</label>
    <input type="text"
           class="form-control" id="postalCode" placeholder="Your postalCode"
           [class.form-control-danger]="!shippingForm.controls.postalCode.valid"
           formControlName="postalCode">

    <div class="form-control-feedback" *ngIf="!shippingForm.controls.postalCode.valid">Sorry, this field is mandatory</div>
  </div>

  <div class="form-group" [class.has-danger]="!shippingForm.controls.city.valid">
    <label class="form-control-label" for="name">City</label>
    <input type="text"
           class="form-control" id="mail" placeholder="Your city"
           [class.form-control-danger]="!shippingForm.controls.city.valid"
           formControlName="city">

    <div class="form-control-feedback" *ngIf="!shippingForm.controls.city.valid">Sorry, this field is mandatory</div>
  </div>

</div>

