<div class="container">

  <div class="header clearfix">
    <app-header></app-header>
  </div>

  <div class="jumbotron">
    <app-shipping-information></app-shipping-information>
  </div>

  <div class="row marketing">
    <app-product-picture></app-product-picture>
  </div>

  <div class="row marketing">
    <app-product-size></app-product-size>
  </div>

  <div class="row marketing">
    <app-product-composition></app-product-composition>
  </div>

  <footer class="footer">
    <app-footer></app-footer>
  </footer>

</div>
