<div class="col-lg-6">
  <h4>Select your burger size</h4>
  <p>
    <label class="custom-control custom-radio">
      <input id="bigSize" name="productSize" type="radio" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Big Size</span>
    </label>

    <label class="custom-control custom-radio">
      <input id="mediumSize" name="productSize" type="radio" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Medium Size</span>
    </label>

    <label class="custom-control custom-radio">
      <input id="smallSize" name="productSize" type="radio" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Medium Size</span>
    </label>
  </p>
</div>

