<form [formGroup]="myForm" novalidate
      (ngSubmit)="save(myForm)">

  <!--<div class="jumbotron">
    <app-shipping-information></app-shipping-information>
  </div>

  <div class="row marketing">
    <app-product-picture></app-product-picture>
  </div>

  <div class="row marketing">
    <app-product-size></app-product-size>
  </div>

  <div class="row marketing">
    <app-product-composition></app-product-composition>
  </div>-->

  <div class="jumbotron">
    <app-shipping-information [group]="myForm.controls.shippingInformation"></app-shipping-information>
  </div>

  <div class="row marketing">
    <h2>Choose your product</h2>
    <app-product-information
      formArrayName="products"
      [products]="myForm.get('products')"
      (toogle)="updateActiveProduct($event)">
    </app-product-information>
  </div>

  <div class="row marketing">
    <h2>Your ticket</h2>
    <app-ticket-information
      formArrayName="products"
      [products]="myForm.controls.products">
    </app-ticket-information>
  </div>
  <!--<div formArrayName="products">
    <div *ngFor="let product of myForm.controls.products.controls; let i=index" class="panel panel-default">
      <div class="panel-heading">
        <span>Product {{i + 1}}</span>
        <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.products.controls.length > 1"
              (click)="removeProduct(i)"></span>
      </div>
      <div class="panel-body" [formGroupName]="i">
        <app-product-size [group]="myForm.controls.products.controls[i]"></app-product-size>
      </div>
    </div>
  </div>

  <div class="margin-20">
    <a (click)="addProduct()" style="cursor: default">
      Add another product +
    </a>
  </div>-->

  <button type="submit" class="btn btn-lg btn-success" [disabled]="!myForm.valid">Order!</button>
</form>


